/* !why-choose */
.why-choose {
  padding: 112px 0;
}

/* .container {
  padding: 0!important;
} */

.why-choose-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.why-choose-flex .column-1 {
  flex-basis: 50%;
  position: relative;
}

.why-choose-flex .column-2 {
  flex-basis: 40%;
}

.why-choose-flex .column .img-decor {
  position: relative;
}

.why-choose-flex .column .img-decor img {
  max-width: 100%;
  border-radius: 7%;
}

.why-choose-flex .column-2 .img-decor::before {
  position: absolute;
  content: "";
  background-image: url(../img/dots-yellow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 255px;
  height: 217px;
  z-index: -1;
  transform: translate(-40%, -40%);
}

.container-flex-4-item {
  display: flex;
  flex-wrap: wrap;
}

.container-flex-4-item .item {
  flex-basis: 50%;
  padding: 0 12px;
  position: relative;
}

.container-flex-4-item .item .icon {
  position: relative;
  display: inline-block;
}

.container-flex-4-item .item .icon:before {
  content: "";
  position: absolute;
  background-color: rgba(59, 93, 80, 0.2);
  border-radius: 50%;
  width: 33px;
  height: 33px;
  right: -7px;
  bottom: 0px;
}

@media screen and (max-width: 991px) {
  .why-choose {
    padding: 50px 0;
  }
  .why-choose-flex .column {
    flex-basis: 100%;
    height: auto;
    padding: 50px 0;
  }
}

/* !end why-choose */

/* !we-help */

.we-help {
  padding: 112px 0;
}

.we-help-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.we-help-flex .column-1 {
  flex-basis: 60%;
  position: relative;
}

.we-help-flex .column-2 {
  flex-basis: 40%;
  position: relative;
  padding: 0 0 0 36px;
}

.we-help-flex .column-1 .imgs-grid {
  max-width: 100%;
}

.imgs-grid {
  display: grid;
  grid-template-columns: repeat(27, 1fr);
  position: relative;
}

.imgs-grid .grid {
  position: relative;
}

.imgs-grid .grid.grid-1 {
  grid-column: 1 / span 18;
  grid-row: 1/ span 27;
}

.imgs-grid .grid.grid-2 {
  grid-column: 19 / span 27;
  grid-row: 1 / span 5;
  padding-left: 20px;
}

.imgs-grid .grid.grid-3 {
  grid-column: 14 / span 16;
  grid-row: 6 / span 27;
  padding-top: 20px;
}

.imgs-grid .grid img {
  max-width: 100%;
  border-radius: 20px;
}

.imgs-grid::before {
  position: absolute;
  content: "";
  background-image: url(../img/dots-green.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 255px;
  height: 217px;
  z-index: -1;
  transform: translate(-40%, -40%);
}

.we-help-flex .column-2 .list-4 {
  padding-bottom: 24px;
}

@media screen and (max-width: 991px) {
  .we-help-flex .column {
    flex-basis: 100%;
  }
  .we-help-flex .column-1 {
    order: 2;
    padding: 48px 0 0 0;
  }
  .we-help-flex .column-2 {
    order: 1;
    padding: 0 0 48px 0;
  }
}
/* !end we-help */

/* !feedback */
.feedback {
  padding: 112px 0;
}

.feedback .title {
  text-align: center;
}

.feedback .feedback-flex {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

.feedback .feedback-flex .item {
  flex-basis: 47%;
  background-color: #dce5e4;
  width: 100%;
  border-radius: 20px;
  padding: 12px;
  margin: 12px;

  display: flex;
  flex-wrap: wrap;
}

.feedback .feedback-flex .item .avatar {
  flex-basis: 40%;
  padding: 12px;
}

.feedback .feedback-flex .item .avatar img {
  max-width: 100%;
  border-radius: 50%;
  border: 5px solid #fff;
}

.feedback .feedback-flex .item .review {
  flex-basis: 60%;
  padding: 12px;
}

.feedback .feedback-flex .item .review .author {
  font-weight: bold;
  margin-bottom: 12px;
  font-style: italic;
}

@media screen and (max-width: 991px) {
  .feedback .feedback-flex .item {
    flex-basis: 100%;
  }
}

/* !end feedback */