@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 28px;
  font-size: 16px;
  background-color: #eff2f1;
}

a {
  text-decoration: none;
}

/** title, sub-content... */
.sub-content {
  opacity: 0.7;
  color: #ffffff;
}

.sub-content-dark {
  opacity: 0.7;
  color: #202020;
}

.head-title {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 700;
  margin-bottom: 30px
}

.section-title {
  color: #2f2f2f;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

/**end  title, sub-content... */

/* *buttons */
.button {
  text-decoration: none;
  font-weight: 600;
  font-size: larger;
  padding: 12px 30px;
  border-radius: 30px;
  border: 3px solid gray;
}

.button-hightlight {
  color: #2f2f2f;
  background-color: #f9bf29;
}

.button-simple {
  color: #ffffff;
}

.button-hightlight-2 {
  color: #ffffff;
  background-color: #2f2f2f;
}

/* *end buttons */

/*! top nav */
.topnav {
  background-color: #3b5d50 !important;
  width: 100%;
  padding: 20px 0;
}

.topnav .topnav-flex {
  display: flex;
  justify-content: space-between;
}

.topnav .topnav-flex .collapseNav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .topnav .topnav-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .topnav .topnav-flex a {
    text-align: left !important;
  }

  .topnav .topnav-flex .collapseNav {
    display: none;
    width: 0;
    transition: .15s all ease-out;
  }

  .topnav .topnav-flex .collapseNav.show {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    flex-basis: 100%;
    transition: .15s all ease-out;
    justify-content: flex-start;
  }

  .topnav .topnav-flex .collapseNav.show .navigation {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  }

  .topnav .topnav-flex .collapseNav.show .search-input {
    flex-basis: 100% !important;
    justify-content: flex-start !important;
  }

  .topnav .topnav-flex .collapseNav .search-input form {
    justify-content: flex-start !important;
    padding: 0 16px;
  }

  .topnav .topnav-flex .toggle-button-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .topnav .topnav-flex .toggle-button-navbar img {
    display: block !important;
    cursor: pointer;
    color: white;
  }

  .topnav .topnav-flex .collapseNav.show .userNav {
    display: flex;
    justify-content: flex-start;
    text-align: center;
  }
}

.topnav .topnav-flex .collapseNav .navigation {
  display: flex;
  justify-content: flex-end;
}


.topnav .topnav-flex a {
  color: #ffffff !important;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  position: relative;
}

.topnav .topnav-flex .collapseNav .navigation a {
  opacity: 0.5;
}

@media screen and (max-width: 992px) {
  .topnav .topnav-flex .collapseNav .userNav {
    flex-basis: 40%;
  }
  .topnav .topnav-flex .collapseNav .search-input {
    flex-basis: 0% !important;
  }
}

@media screen and (min-width: 768px) {
  .topnav .topnav-flex .collapseNav .navigation a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 8px;
    right: 8px;
    margin: auto;
    background: #f9bf29;
    height: 5px;
    width: 0;
    opacity: 1;
    visibility: visible;
    transition: .15s all ease-out;
  }

  .topnav .topnav-flex .collapseNav .navigation a.active {
    opacity: 1;
  }

  .topnav .topnav-flex .collapseNav .navigation a.active::before {
    width: calc(100% - 46px);
  }

  .topnav .topnav-flex .collapseNav .navigation a:hover:before {
    width: calc(100% - 46px);
  }
}

.topnav .topnav-flex .collapseNav .navigation a:hover {
  opacity: 1;
  color: white;
}

.topnav .topnav-flex .collapseNav .userNav {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  position: relative;
}

.topnav .topnav-flex .collapseNav .userNav a {
  text-decoration: none;
  color: white;
  text-align: center;
  cursor: pointer;
}

.topnav .topnav-flex .collapseNav .search-input {
  flex-basis: 100%;
  padding: 8px 0;
  display: flex;
  justify-content: flex-end;
}

.topnav .topnav-flex .collapseNav .search-input form {
  display: flex;
  justify-content: flex-end;
  flex-basis: 100%;
}

.topnav .topnav-flex .collapseNav button {
  background-color: #dce5e4;
  border-radius: 10px;
  padding: 3px 5px;
  border: none;
}

.topnav .topnav-flex .collapseNav button a {
  padding: 3px !important;
}

.topnav .topnav-flex .collapseNav input {
  padding: 3px 10px;
  border-radius: 10px;
  border: none;
  margin-right: 10px;
  flex-basis: 40%;
}

.topnav .topnav-flex .brandNav {
  display: flex;
  justify-content: flex-start;

}

.topnav .topnav-flex .brandNav a {
  display: flex;
  align-items: center;
}

.brandName {
  font-size: 30px;
  font-weight: 700;
}

/*! end top nav */


/*! wall */
.wall {
  padding: calc(4rem - 30px) 0 4rem 0;
  background-color: #3b5d50;
  color: #ffffff;
  position: relative;
}

.wall .wall-flex {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
}

.wall .wall-flex .content-wall {
  flex-basis: 50%;
}

.wall .wall-flex .content-wall p {
  margin-bottom: 30px
}


.wall .wall-flex .img-wall {
  position: relative;
  text-align: right;
  flex-basis: 50%;
}

.wall .wall-flex .img-wall img {
  position: relative;
  top: 0;
  z-index: 2;
  max-width: 780px;
}

.wall .wall-flex .img-wall::after {
  content: "";
  position: absolute;
  width: 255px;
  height: 217px;
  background-image: url(../../img/dots-light.svg);
  background-size: contain;
  background-repeat: no-repeat;
  right: -10%;
  top: 0;
  z-index: 1;
}

@media screen and (max-width: 1200px) {
  .wall .wall-flex {
    flex-direction: column;
  }

}

/*! end wall */

/*! product list */
.product-container {
  padding: 7rem 0
}

.product-flex {
  display: flex;
  flex-wrap: wrap;
}

.product-flex .column-flex-4 {
  flex-basis: 25%;
  padding: 12px;
}

.product-flex .column-flex-4 .product-item {
  position: relative;
  text-align: center;
  display: block;
  padding-bottom: 50px;
  cursor: pointer;

}

.product-flex .column-flex-4 .product-item a {
  text-decoration: none;
  color: #2f2f2f;
}

.product-flex .column-flex-4 .product-item .product-title {
  font-weight: 600;
  font-size: 18px;
}

.product-flex .column-flex-4 .product-item .product-price {
  font-weight: 600;
  font-size: 20px;
}

.product-flex .column-flex-4 .product-item .product-thumbnail {
  margin-bottom: 30px;
  position: relative;
  max-width: 100%;
  height: auto;
  transition: .3s all ease;
  top: 0;
}

.product-flex .column-flex-4 .product-item:hover {
  .product-thumbnail {
    top: -25px;
  }

  .icon-add {
    opacity: 1;
    bottom: 0;
    margin-bottom: -17.5px;
  }
}

.product-flex p {
  margin-bottom: 30px;
}

.product-flex .column-flex-4 .product-item::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  background-color: #dce5e4;
  height: 0%;
  width: 100%;
  z-index: -1;
  border-radius: 10px;
  transition: .3s all ease;
}

.product-flex .column-flex-4 .product-item:hover::before {
  height: 70%;
}

.product-flex .column-flex-4 .product-item .icon-add {
  position: absolute;
  border-radius: 50%;
  display: inline-block;
  transform: translateX(-50%);
  left: 50%;
  bottom: 1%;
  transition: .3s all ease;
  opacity: 0;
}

.product-flex .column-flex-4 .product-item .icon-add img {
  width: 35px;
  height: 35px;
}

@media screen and (max-width: 992px) {
  .product-flex .column-flex-4.intro-section {
    flex-basis: 100%;
  }

  .product-flex .column-flex-4 {
    flex-basis: 33.33333333333333%;
  }
}

@media screen and (max-width: 768px) {
  .product-flex .column-flex-4 {
    flex-basis: 100%;
  }
}

/*! product list */

/* !footer */
.footer {
  background-color: #fff;
  position: relative;
  padding-top: 112px;
}

.footer .footer-img {
  position: absolute;
  top: -150px;
  right: 0;
}

.footer .footer-img img {
  max-width: 300px;
}

.footer .subscribe-form {
  display: flex;
  flex-wrap: wrap;
}

.footer .section-title {
  display: flex;
  align-items: center;
  flex-basis: 100%;
}

.footer form {
  display: flex;
  flex-basis: 70%;
  padding-bottom: 80px;
}

.footer form input {
  padding: 12px 20px;
  border-radius: 30px;
  border: 1px solid #dce5e4;
  margin-right: 10px;
  flex-basis: 30%;
}

@media screen and (max-width: 768px) {
  .footer form {
    flex-wrap: wrap;
  }

  .footer form input {
    flex-basis: 100%;
    margin-bottom: 10px;
  }
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 48px;
}

.footer-content .column-1 {
  flex-basis: 40%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 36px;

  .logo {
    flex-basis: 100%;
    padding-bottom: 24px;
    position: relative;
  }

  .logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #3b5d50;
    width: auto;
  }

  .social a {
    position: relative;
  }

  .social a img {
    z-index: 1;
    position: relative;
  }

  .social a {
    padding: 5px;
  }

  .social a::before {
    content: "";
    background-color: #dce5e4;
    display: inline-block;
    position: absolute;
    width: 36px;
    height: 36px;
    z-index: 0;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.footer-content .column-2 {
  flex-basis: 60%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 36px;
  margin-top: 54px;

  .column-links {
    flex-basis: 33.333333%;
  }

  .column-links ul {
    list-style: none;
    padding-left: 0;
    padding-right: 24px;
  }

  .column-links ul li a {
    padding-bottom: 12px;
    text-decoration: none;
    color: #2f2f2f;
    opacity: 0.9;
  }
}

@media screen and (max-width: 768px) {
  .footer-content .column-1 {
    flex-basis: 100%;
  }

  .footer-content .column-2 {
    flex-basis: 100%;
    padding-left: 0;
    margin-top: 0;
  }
}

.footer .copyright {
  padding-top: 24px;
  border-top: 1px solid #2f2f2f;
}
/* !end footer */