@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  position: relative;

  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 28px;
  font-size: 14px;
  background-color: #eff2f1; 
}

.sub-content {
  opacity: 0.5;
  color: #ffffff;
}

/*! top nav */
.topnav {
  overflow: hidden;
  background-color: #3b5d50 !important;
  width: 100%;
  padding: 20px 0;
}

.topnav .topnav-flex {
  display: flex;
  justify-content: space-between;
}

.topnav .topnav-flex .collapseNav {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .topnav .topnav-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .topnav .topnav-flex  a {
    text-align: left !important;
  }

  .topnav .topnav-flex .collapseNav {
    display: none;
  }

  .topnav .topnav-flex .collapseNav.show {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  }

  .topnav .topnav-flex .collapseNav.show .navigation {
    display: flex;
    flex-direction: column;
  }

  .topnav .topnav-flex .toggle-button-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .topnav .topnav-flex .toggle-button-navbar img {
    display: block !important;
    cursor: pointer;
    color: white;
  }

  .topnav .topnav-flex .collapseNav.show .userNav {
    display: flex;
    justify-content: flex-start;
    text-align: center;
  }
}

.topnav .topnav-flex .collapseNav .navigation {
  display: flex;
  justify-content: flex-end;
}


.topnav .topnav-flex  a {
  color: #ffffff !important;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  position: relative;
}

.topnav .topnav-flex .collapseNav .navigation a {
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .topnav .topnav-flex .collapseNav .navigation a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 8px;
    right: 8px;
    margin: auto;
    background: #f9bf29;
    height: 5px;
    width: calc(100% - 46px);
    opacity: 1;
    visibility: hidden;
  }
  
  .topnav .topnav-flex .collapseNav .navigation .underline {
    content: "";
    position: absolute;
    bottom: 0;
    left: 8px;
    right: 8px;
    margin: auto;
    background: #f9bf29;
    height: 5px;
    width: calc(100% - 46px);
    opacity: 1;
  }
  
  .topnav .topnav-flex .collapseNav .navigation a:hover:before {
    visibility: visible;
  }
}

.topnav .topnav-flex .collapseNav .navigation a:hover {
  opacity: 1;
  color: white;
}

.topnav .topnav-flex .collapseNav .userNav {
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.topnav .topnav-flex .collapseNav .userNav a {
  text-decoration: none;
  color: white;
  text-align: center;
}

.topnav .topnav-flex .brandNav {
  display: flex;
  justify-content: flex-start;

}

.topnav .topnav-flex .brandNav a {
  display: flex;
  align-items: center;
}

.topnav .topnav-flex .brandNav .brandName {
  font-size: 30px;
  font-weight: 700;
}

/*! end top nav */


/*! wall */
.wall {
  padding: calc(4rem - 30px) 0 4rem 0;
  background-color: #3b5d50;
  color: #ffffff;
}
.wall .wall-flex {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
}
.wall .wall-flex .content-wall {
  flex-basis: 50%;
}
.wall .wall-flex .content-wall h1 {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 700;
  margin-bottom: 30px
}
.wall .wall-flex .content-wall p {
  margin-bottom: 30px
}
.wall .wall-flex .content-wall .button {
  text-decoration: none;
  font-weight: 600; 
  font-size: larger;
  padding: 12px 30px;
  border-radius: 30px;
  border: 3px solid gray;
}
.wall .wall-flex .content-wall .button-hightlight {
  color: #2f2f2f;
  background-color: #f9bf29;
}
.wall .wall-flex .content-wall .button-simple {
  color: #ffffff;
}
.wall .wall-flex .img-wall {
  position: relative;
  text-align: right;
  flex-basis: 50%;
}
.wall .wall-flex .img-wall img{
  position: relative;
  top: 0;
  z-index: 2;
  max-width: 780px;
}
.wall .wall-flex .img-wall::after {
  content: "";
  position: absolute;
  width: 255px;
  height: 217px;
  background-image: url(../../img/dots-light.svg);
  background-size: contain;
  background-repeat: no-repeat;
  right: -10%;
  top: 0;
  z-index: 1;
}
@media screen and (max-width: 1200px) {
  .wall .wall-flex {
    flex-direction: column;
  }

}
/*! end wall */